.container {
  width: 1000px;
  height: 1000px;
  position: relative;

  .corner {
    width: 200px;
    height: 200px;
    position: absolute;
  }

  .corner:nth-child(1) {
    top: 0;
    left: 0;
    background-color: red;
  }

  .corner:nth-child(2) {
    top: 0;
    right: 0;
    background-color: green;
  }

  .corner:nth-child(3) {
    bottom: 0;
    left: 0;
    background-color: blue;
  }

  .corner:nth-child(4) {
    bottom: 0;
    right: 0;
    background-color: yellow;
  }
}
